DB__NAME=
DB__USER=
DB__PASSWORD=

REDIS__PASSWORD=

JWT__ALGORITHM=HS256
JWT__SECRET_KEY=
JWT__ACCESS_EXPIRE_SECONDS=900 # 15 минут
JWT__REFRESH_EXPIRE_SECONDS=2592000 # 30 дней

APP__PORT=8000
APP__ENV=prod # dev prod